{{> cabeceras }}
{{> navbar }}

<nav class="container m-5">

    <div class="card" style="width: 35rem;">
        <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_7NJpxMT54U?start=88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">ARTEFACTOS, Burn Down Chart</h5>
            <p class="card-text"><h6>“Lo que no se mide, no se puede mejorar” </h6><em>T Peter Drucker</em> </p>
            <a href="/elementos" class="btn btn-primary">Ir a Elementos</a>
        </div>
    </div>

</nav>



{{> footer }}