{{> cabeceras }}
{{> navbar }}

<nav class="container m-5">

    <div class="card" style="width: 35rem;">
        {{!-- <img src="..." class="card-img-top" alt="..."> --}}
        <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eiAKCKxZpmg?start=88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">CEREMONIAS, Daily</h5>
            <p class="card-text"><h6>“El conocimiento comienza por la práctica y todo conocimiento teórico, adquirido a través de la práctica, debe volver a la práctica.” </h6><em>MAO TSE TUNG</em> </p>
            <a href="/elementos" class="btn btn-primary">Ir a Elementos</a>
        </div>
    </div>

</nav>



{{> footer }}