
{{> cabeceras }}
{{> navbar }}
<div class="container text-center">
    <div>
      <h2 class="text-center m-5"> <strong>Scrum.</strong> Elementos del marco de trabajo...</h2>
    </div> 
    <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
        <iframe width="560" height="349" src="http://www.youtube.com/embed/_-wbk8AgCaU" frameborder="0" allowfullscreen align = "middle"></iframe>
    </div>  
</div>  
<div class="container">
    <p class="text-justify" >
     <h2><b>Componentes de Scrum</b></h2>
    </p>
    <p class="text-justify">
     <h4>El modelo, de acuerdo a la guía de scrum, está compuesta por un conjunto de elementos específicos compuesto por roles, eventos, artefactos y reglas asociadas. “Cada componente dentro del marco de trabajo sirve a un propósito específico y es esencial para el éxito de Scrum y para su uso”.</h4>
      Los roles, artefactos y las ceremonias.
    </p>
    <p class="text-justify">
       <h2>Roles</h2> 
       <h4>son aquellos que su participación es indispensable para la realización del proyecto, están comprometidos con el proyecto y son responsables del éxito de cada sprint y del proyecto en general.</h4>
        <h4>Los roles más representativos son:</h4>
    </p>
        
    <p class="text-justify">
        <ul>
            <li> <h4><b>Product Owner:</b> es quien representa la voz del cliente. A veces es el mismo, aunque en otras ocasiones es un representante o tercero.</h4></li>
            <li><h4><b>Team:</b> es el que se encarga de ejecutar las acciones previstas. Para el que el proceso sea exitoso, lo ideal podrían ser un mínimo de 5 personas y un máximo de 9.</h4></li>
            <li><h4><b>Scrum Máster:</b> no sólo es el líder del equipo, sino sobre todo el encargado de eliminar cualquier obstáculo que impida la consecución de los objetivos. Delega  las tareas en sus colaboradores para que éstos se auto-organicen y alcancen un nivel de coordinación y colaboración exitoso. Es una persona que aglutina.</h4></li>
            <li><h4><b>Usuarios:</b> es el destinatario final del producto. Cuidado, no hay que confundirlo con el cliente, que es quien delega en el equipo la elaboración del proyecto. Los usuarios son los que se benefician tras la compra, uso o adquisición de dicho producto en el mercado para satisfacer una necesidad específica.</h4></li>
        </ul>
    </p>
    <pclass="text-justify">
        <h2>Ceremonias</h2>
        <h4>En las ceremonias en Scrum están enmarcados en cajas de tiempo que son uno de los principios del marco de trabajo y es lo que nos permite manejar eficazmente la planeación y ejecución del desarrollo.</h4>
        <h4>Las ceremonias más representativas son:</h4>
    </p>
    <pclass="text-justify">
        <ul>
            <li><h4><b>Sprint:</b> se le considera la esencia del método Scrum. Son períodos cortos de 15-30 días en los que se realiza una acción concreta. Cada sprint debe ponerse en marcha sólo cuando el anterior haya terminado. Lo ideal es no modificar sus plazos y tiempos; por el contrario, la mejor forma de obtener los resultados esperados es cumpliendo con lo acordado.</h4></li>
            <li><h4><b>Reunión de planificación del sprint:</b> en esta reunión se definen las tareas que formarán parte de cada sprint. Lo más importante es que el Scrum Máster se asegure de que sus colaboradores han entendido el propósito y que el evento se lleve a cabo con absoluta normalidad. Los sprints sólo se deben cancelar si los propósitos de la empresa cambian drásticamente.</h4></li>
            <li><h4><b>Objetivo del sprint:</b> cada iteración debe tener un objetivo claro, el cual está definido de antemano en el Product Backlog. A medida que los equipos trabajan, se deben ir implementando los recursos previstos u otros que no se habían tenido en cuenta previamente.</h4></li>
            <li><h4><b>Scrum Diario:</b> esta reunión no puede durar más de 15 minutos y tiene lugar al inicio de cada jornada. La idea es informar sobre lo que se hizo el día anterior, lo que se hará ahora y los obstáculos que han ido surgiendo.</h4></li>
            <li><h4><b>Revisión de sprint:</b> es una especie de valoración que se realiza al final de cada sprint. El objetivo no es otro que inspeccionar el incremento de esa fase en concreto y los resultados obtenidos.</h4></li>
            <li><h4><b>Retrospectiva de sprint:</b>R una vez se ha efectuado la revisión de cada sprint, el Scrum Máster y el Scrum Team hacen un balance general de lo que ha sido esa fase del proceso. Las conclusiones, mejoras y recomendaciones se tendrán en cuenta a la hora de iniciar el nuevo ciclo de trabajo.</h4></li>
        </ul>
    </p>
    <p class="text-justify">
        <h2>Artefactos</h2>
        <h4>Bajo el nombre de artefactos se conocen todos aquellos instrumentos que garantizan la transparencia y el registro de la información clave del proceso de Scrum. Es decir, son los recursos que sientan las bases para la calidad y la productividad de cualquier desarrollo.</h4>
        <h4>Los artefactos más usuales son:</h4>
    </p>
    <p class="text-justify">
        <ul>
            <li><h4><b>Lista de producto:</b> es el documento central de un proyecto Scrum. En él se reflejan todos los elementos necesarios para la ejecución del mismo y, por tanto, es la principal referencia a la hora de realizar cambios o plantear soluciones. Es decir, debe tener una doble naturaleza: ser lo suficientemente claro con todos los recursos y requerimientos, pero a la vez tener la suficiente flexibilidad para poder introducir variantes si el caso lo precisa.</h4></li>
            <li><h4><b>Lista de objetivos pendientes del sprint:</b> cuando ciertos objetivos no se cumplen y las soluciones no pueden implementarse en el momento, es necesario trasladarlas al siguiente ciclo de trabajo. La lista de objetivos pendientes nos ayudará a tenerlos presentes. También puede hacerse una lista de pendientes dentro de cada sprint, pero sólo si es viable implementar las soluciones.</h4></li>
            <li><h4><b>Incremento:</b> es la forma en que medimos el progreso que ha tenido el proceso en cada etapa. Para Scrum, es esencial que cada iteración tenga un incremento; si no es así, esto revelará que algo ha fallado. El producto final no es otra cosa que la suma de los incrementos temporales.</h4></li>
        </ul>
    </p>

    <img  class=" m-5" src="/assets/img/elementos.jpg"class="img-thumbnail">
</div> 




{{> footer }}