{{> cabeceras }}
    {{> navbar }}
      <div class="jumbotron">
        <h1 class="display-4">Hola!, Bienvenidos a Scrum-App</h1>
        <p class="lead">Este sitio contiene información básica  -algunas no tan básicas- e interesante sobre el marco de trabajo Scrum.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
   <div class="container">
     <h2 class="text-center"> <strong>Scrum.</strong> Un poco de teoria...</h2>
    <p class="text-justify">
      Muchos páginas en la web hablan de Scrum como una filosofía, un proceso, una técnica o un método enalteciendo o desprestigiando sus beneficios. Lo interesante de esto, es que precisamente cualquiera de los calificativos anteriores no es lo que en realidad Scrum es. De acuerdo a los creadores, Scrum  “Scrum es un marco de trabajo de procesos que ha sido usado para gestionar el trabajo en productos complejos desde principios de los años 90.” “Un marco de trabajo por el cual las personas pueden abordar problemas complejos adaptativos, a la vez que entregar productos del máximo valor posible productiva y creativamente.”  
      <a href="https://www.scrumguides.org/docs/scrumguide/v2017/2017-Scrum-Guide-Spanish-SouthAmerican.pdf">guía de scrum</a>
    </p>
    <p class="text-justify">
      Lo que quiere decir, que es un entorno donde conviven conjuntos estandarizado de conceptos, prácticas y criterios para enfocar un tipo de problemática particular que sirve como referencia, para enfrentar y resolver nuevos problemas de índole similar, inicialmente en los desarrollos de aplicaciones, pero que posteriormente se extendió a otros campos.
    </p>
    <p class="text-justify">
      Esto deja claro entonces, que el marco de trabajo hace uso de una gran cantidad de estándares para su funcionamiento, lo que a su vez, requiere del descubrimiento constante (por parte de sus practicantes) de los fundamentos operacionales, organizativos, estructurales que se convirtieron en estándares y que forman las bases activas de este framework.
    </p>
    <p class="text-justify">
      Teniendo presente todo lo anterior, diremos que hay tres cosas fundamentales que debemos tomar en cuenta, Reglas, Estrategias y Elementos. Al hablar de reglas implica que existe la presencia de valores, principios que se comparten y que enmarcan el actuar en u n sentido común, Al hablar de estrategias, implica entonces una interacción acordada en pos de un logro eficientes y Se dice que hay elementos, porque existen roles, eventos, artefactos asociados e integrados al entorno.
    </p>
    <p class="text-justify">
      En definitiva, Scrum es un entorno que al ser usado de forma superficial o como un esquema basado en una moda temporal, podría genera frustraciones por el desconocimiento o descubrimiento de aquello de no “saber lo que no se sabe” y sin la conciencia de lo que Scrum le puede aportar a la organización y al sistema tradicional si es utilizado adecuadamente, es decir, proveería a sus organizaciones de una maquinaria consecuente, eficiente y consistente para la ejecución de sus desarrollos además de un crecimiento y madurez altamente valorados por las empresas de clase mundial.

    </p>

   </div>
    

{{> footer }}