{{> cabeceras }}
    {{> navbar }}
      <div class="jumbotron">
        <h1 class="display-4">Hola!, Bienvenidos a Scrum-App</h1>
        <p class="lead">Este sitio contiene información básica  -en algunos casos no tan básicas- e interesante sobre el marco de trabajo Scrum.</p>
        <hr class="my-4">
      </div>
   <div class="container">
     <h2 class="text-center"> <strong>Scrum.</strong> Un poco de teoria...</h2>
     <h4>
    <p class="text-justify">
      Muchas páginas en la web tratan el tema de Scrum como una filosofía, un proceso, una técnica o un método; algunos autores la enaltecen y otros tratan de desprestigiarla. Lo interesante de esto, es que precisamente cualquiera que sea el calificativo que le demos, es muy provable que por falta de información documental o experimental, no sea del todo acertado lo que creamos sobre este y quizas no comprendamos del todo lo que en realidad es Scrum. De acuerdo a los creadores, “Scrum es un marco de trabajo de procesos que ha sido usado para gestionar el desarrollo de productos complejos desde principios de los años 90.” “Un marco de trabajo por el cual las personas pueden abordar problemas complejos adaptativos, a la vez que entregar productos del máximo valor posible productiva y creativamente.” Ken Schwaber y Jeff Sutherland; la Guía de Scrum (2017).  
      <a href="https://www.scrumguides.org/docs/scrumguide/v2017/2017-Scrum-Guide-Spanish-SouthAmerican.pdf">guía de scrum</a>
    </p>
   
    <p class="text-justify">
      Pudieramos entender tambien que Scrum es un entorno que al ser usado de forma superficial o como un esquema basado en una moda temporal, podría genera frustraciones por el desconocimiento o descubrimiento de aquello de no “saber lo que no se sabe”,  que sin la conciencia de lo que Scrum le puede aportar a un desarrollos,  si se utilizara adecuadamente, podría proveer a las organizaciones de una maquinaria consecuente, eficiente y consistente para la ejecución de sus proyectos además de un crecimiento y madurez altamente valorados por las empresas de clase mundial.
    </p>
    <p class="text-justify">
     Pudieramos entender tambien que Scrum es un entorno que al ser usado de forma superficial o como un esquema basado en una moda temporal, podría genera frustraciones por el desconocimiento o descubrimiento de aquello de no “saber lo que no se sabe”,  que sin la conciencia de lo que Scrum le puede aportar a un desarrollos,  si se utilizara adecuadamente, podría proveer a las organizaciones de una maquinaria consecuente, eficiente y consistente para la ejecución de sus proyectos además de un crecimiento y madurez altamente valorados por las empresas de clase mundial.
    </p>
    <p class="text-justify">
    Los creadores del modelo afirman que éste es un entorno que puede alvergar todo un conjuntos estandarizado de conceptos, prácticas y criterios para enfocar un tipo de problemática particular, que sirve como referencia, para enfrentar y resolver nuevos problemas de índole similar, inicialmente en los desarrollos de aplicaciones y  por  sus resultados  se extendió posteriormente a otros sectores.
    </p>
    <p class="text-justify">
    Teniendo presente todo lo anterior, en este blog, estarmos presentando los tres elementos fundamentales que debemos tomar en cuenta: Reglas, Estrategias y Elementos. Al hablar de reglas implica que existe la presencia de valores, principios que se comparten y que enmarcan el actuar en un sentido común, Al hablar de estrategias, implica entonces una interacción acordada en pos de un logro eficientes y Se dice que hay elementos, porque existen roles, eventos, artefactos asociados e integrados al entorno que hace que quien lo siga con sentido común y criterio de amplitud.
    </p>
    </h4>
    <img  class=" m-5" src="/assets/img/scrum.png"class="img-thumbnail">
   </div>

    

{{> footer }}