{{> cabeceras }}
{{> navbar }}
<nav class="container">
    <h2 class="text-center m-5"> <strong>Scrum.</strong> Algo de Principios...</h2>
    
    <p class="text-justify">
        El empirismo afirma que el conocimiento proviene de la experiencia que se tiene durante el desarrollo de las actividades y tareas, y que las decisiones se basan en lo que se descubre y se va conociendo. Aunque la afirmación parece obvia, (es bueno evitar pensar que la obviedad es compartida), durante mucho tiempo se han llevado la gestión de una manera más general con un sentido amplio, con un principio predictivo.
    </p>
    <p class="text-justify">
        Cuándo trabajamos con un proceso de control predictivo, suponemos que seremos capaces de “predecir” el comportamiento de las principales variables de un proyecto (requisitos, tareas, recursos, costos y tiempos). Además, para controlar dichas variables diseñamos una serie de actividades, que desgranamos en tareas, y asociamos a diferentes roles lo que en su tiempo se conoció como la gestión por procesos.      
    </p>
    <p class="text-justify">
        Hoy en día, la necesidad adaptarse cada vez más a los entornos cambiantes, ha permitido que el empirismo tome nuevamente protagonismo y proporciona un gran aporte al modelo de control empírico, aquel que permite la toma de decisiones en tiempo real, tanto a trabajadores como gerentes, basándose en datos actuales, y en consecuencia puedan responder rápido a las condiciones siempre cambiantes de su entorno.
    </p>
    <p class="text-justify">
        La guía de Scrum establece que “Scrum se basa en la teoría de control de procesos empírica o empirismo”, y que “el empirismo asegura que el conocimiento procede de la experiencia y de tomar decisiones basándose en lo que se conoce”. donde el centro del modelo radica en esto: “Scrum emplea un enfoque iterativo e incremental para optimizar la predictibilidad y el control del riesgo”.
    </p>
    <p class="text-justify">
        Cuando se tratan temas como control de riesgo, predictibilidad, enfoque incremental e iterativo, se hace casi obligatorio entrar en el tema de los principios que hacen que estos elementos interactúen y generen un resultado en consecuencia; estos pilares fundamentales son: la transparencia, inspección y la adaptación. 
    </p>
    <p class="text-justify">
        Según la guía, “Los aspectos significativos del proceso deben ser visibles para aquellos que son responsables del resultado. La transparencia requiere que dichos aspectos sean definidos por un estándar común, de tal modo que los observadores compartan un entendimiento común de lo que se están viendo.”; en este sentido, es fundamental que los estándares existan evolucionen y sean un lenguaje común para todos sus actores, lo que implica un principio intrínseco en este punto: la organización.
    </p>
    <p class="text-justify">
        Otro fundamento se hace presente a través de: “los usuarios de Scrum deben inspeccionar frecuentemente los artefactos de Scrum y el progreso hacia un objetivo para detectar variaciones indeseadas. Su inspección no debe ser tan frecuente como para que interfiera en el trabajo. Las inspecciones son más beneficiosas cuando se realizan de forma diligente por inspectores expertos en el mismo lugar de trabajo.”
    </p>
    <p class="text-justify">
        Y el último principio: “Si un inspector determina que uno o más aspectos de un proceso se desvían de límites aceptables y que el producto resultante será inaceptable, el proceso o el material que está siendo procesado deben ajustarse. Dicho ajuste debe realizarse cuanto antes para minimizar desviaciones mayores.” según la guía esto es Adaptación.
    </p>
    <p class="text-justify">
        La guía hace hincapié en la necesidad de incorporar en sus eventos formales estos principios, con el propósito de usarlos como molino agudo que afine el desarrollo de las iteraciones y sus resultados, integre los esfuerzos y modele las intenciones hacia un resultado común más elevado.
    </p>
    <img src="../public/assets/img/scrum.png"
     alt="La cabeza y el torso de un esqueleto de dinosaurio;
           tiene una cabeza grande con dientes largos y afilados"
     width="400"
     height="341"
</nav>
{{> footer }}
