{{> cabeceras }}
{{> navbar }}
<nav class="container">
  <div class="row">
      <div>
      <h2 class="text-center m-5"> <strong>Scrum.</strong> Los Valores del marco de trabajo...</h2>
      </div>
      
      <div class="col-md-8">.
        <p class="text-justify">
          <h3>Puntualizando algunas cosas</h3>
          Si se habla de <a href="https://scrumorg-website-prod.s3.amazonaws.com/drupal/2018-05/ScrumValues-Tabloid.pdf">valores</a> y se considera aunque sea medianamente, es por que la convivencia está presente; siendo nosotros seres sociales por naturaleza, la convivencia es una capa fundamental, para lograr -lo mejor posible- la comprensión de las ideas de dos o más con su posterior logro de acuerdos que sumen esfuerzo para un bien común, en este sentido, esto implica el desarrollo de nuestras actividades de grupo y el cumplimiento de objetivos comunes; lógicamente, este nivel de inter-dependencia precisa de la madurez de los integrantes como para soportar los embates del rose interactivo y la necesidad de mejora constante.
        </p>
      </div>
      <div class="col-6 col-md-4">
        <img src="/assets/img/valores.png"class="img-thumbnail">
      </div>
  </div>
<p class="text-justify">
  Lo anterior nos lleva, entonces a lo que nos dice guía de Scrum: “Cuando el Equipo Scrum incorpora y vivencia los valores de compromiso,coraje, foco, apertura y respeto, los pilares Scrum de transparencia, inspección y adaptación se materializan y fomentan la confianza en todo el mundo. Los miembros del Equipo Scrum aprenden y exploran estos valores a medida que trabajan en los eventos, roles y artefactos de Scrum.
</p>
<p class="text-justify">
El uso exitoso de Scrum depende de que las personas lleguen a ser más virtuosas en la convivencia con estos cinco valores. Las personas se comprometen de manera individual a alcanzar las metas del Equipo Scrum. Los miembros del Equipo Scrum tienen coraje para hacer bien las cosas y para trabajar en los problemas difíciles. Todos se enfocan en el trabajo del Sprint y en las metas del Equipo Scrum. El Equipo Scrum y sus interesados acuerdan estar abiertos a todo el trabajo y a los desafíos que se les presenten al realizar su trabajo. Los miembros del Equipo Scrum se respetan entre sí para ser personas capaces e independientes.”   
</p>
<p class="text-justify">
el tema de los valores pone en el tapete dos competencias necesarias para hacer que funcione el modelo, estas son ser capaz de… una actitud positiva y proactiva, de tal manera que los colaboradores puedan desarrollar vínculos sanos, productivos, orientados a la búsqueda de soluciones creativas. y  contar con la apertura suficiente para aprender nuevas aptitudes, aquellas que se adquieren con un conocimiento específico y su aplicación práctica.     
</p>
<p class="text-justify">
Ahora, por tradición de scrum, los valores básicos del marco son:
<ol>
  <li><b>Foco</b>, en conseguir los objetivos del sprint, en hacer una cosa a la vez.
</li>
  <li><b>Respeto</b>, dar y pedir feedback, separar la persona del rol, trabajo en equipo, compañerismo, confianza en los demás.</li>
  <li><b>Coraje </b>, por ejemplo para proponer cambios importantes en cómo hacemos las cosas y eliminar impedimentos grandes, para mostrarnos vulnerables y pedir ayuda cuando la necesitemos.
</li>
  <li><b>Compromiso</b>, hacer lo que dices que harás, con los acuerdos de trabajo, con la planificación y los objetivos del sprint.</li>
  <li><b>Apertura</b>, transparencia, sinceridad, compartir.
</li>
</ol> 
</p>
<p class="text-justify">
     La pregunta que toca hacer es, cuáles son los valores que tú como lector añadirías a tu esquema?
</p>


 <img  class=" m-5" src="/assets/img/valoresMas.png"class="img-thumbnail">
</nav>


{{> footer }}