{{> cabeceras }}
{{> navbar }}

<nav class="m-5">
    <div class="alert alert-success" role="alert">
        <h3 class="alert-heading">Bienvenidos al sitio que hemos llamado Scrum-App.</h3>
        <p class="text-justify">En esta página encontrarás conceptos e ideas sobre el marco de trabajo Scrum, como parte de un modelo basado en la agilidad, sus características y los efectos que se buscan con su uso y aplicación;  aquí encontrarás comentarios de profesionales y expertos sobre aspectos del modelo que nos han interesado por su contenido, método o por los aportes que hacen a nuestra comunidad, así también contamos con contenido propios sobre los que sabemos que nuestros lectores pudieran tomar para aplicarlos en sus respectivos desarrollos;  junto a esto encontrarán también escritos basados en nuestra experiencias tanto tecnológica, empresarial  como en otros sectores a nivel organizacional. Aquí hemos  pretendido mostrar  varios canales informativos como:  escritos, artículos, enlaces, videos,  y otros que se seguirán agregando,  con la intención de ampliar  las opciones en un entorno relajado, no tan formal para que todos los interesados  encuentres  la información que buscas  en estos temas y/o las respuestas a tus inquietudes. Les recomendamos encarecidamente que hagan sus comentarios siempre en el buen espíritu de la crítica constructiva, las cuales nos ayudarán a mejorar este sitio que no es más que un instrumento informativo y educacional para aquellos a quienes les apasiona todo lo relacionado con este modelo enmarcado dentro de la agilidad. </p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
    <p><h3>Algunos datos sobre el Autor del sitio</h3></p>
    <p>Se graduó como Técnico Superior Universitario en Organización Empresarial, con un Diplomado en Gerencia  y con una amplia experiencia en modelos de control tanto predictivo como empírico. certificado como Scrum Master</p>
    <p>Se ha desempeñado como Scrum master en el área de tecnología con desarrollos en diversos sectores.</p>
    <p>Desarrollador en tecnologías como: JavaScript, NodeJs, Loopback, Angular, PHP.
    Trabajo en el sector Aeronáutico venezolano como Jefe de División de Auditoría, donde aplicó sus conocimientos en organización y gestión de procesos en muchos de los documentos desarrollados en la organización, así como la implementación de un enfoque más moderno en la gerencia de la empresa.
    </p>
    <p>Se desempeño en roles como:</p>
    <ul>
        <li>ingeniero de procesos en una planta de ensamblaje automotriz</li>
        <li>Funcional de Gestión y Control en el área de indicadores de gestión.
</li>
        <li>Planificador de Recursos Humanos.</li>
        <li>Coordinador Administrativo del área de comercialización y post venta automotriz.
</li>
        <li>Coordinador de Soporte Técnico de IT</li>
        <li>Coordinador de almacén y Suministros</li>
        <li>Programador e implementador de diferentes sistemas y aplicaciones</li>
    </ul>

    <p><h3>Como contactarlo</h3></p>
    <ul>
        <li>Emails: controlalo@outlook.com / gonzalezlarry@outlook.com</li>
        <li>https://www.linkedin.com/in/gonzalezlarry/</li>
        <li>Blog: oge.com.ve</li>
       <br>
    </ul>
</nav>





{{> footer }}