html {
    min-height: 100%;
    position: relative;
}

body{
    margin:0;
    margin-top: 40px;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 20px;
}